.hidden {
  animation: hide-item 1s ease-in 1 forwards;
}

.show {
  animation: show-item 1s ease-in 1 forwards;
}

@keyframes hide-item {
  0% {
    color: red;
    opacity: 1;
  }

  50% {
    color: #0df202;
    opacity: 0.5;
  }

  100% {
    color: blue;
    opacity: 0;
  }
}

@keyframes show-item {
  0% {
    color: red;
    opacity: 0;
  }

  50% {
    color: #0df202;
    opacity: 0.5;
  }

  100% {
    color: blue;
    opacity: 1;
  }
}